@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 54px;
}
.header__nav_logo h1,
p,
a {
  color: white;
}
.header__nav_logo h1 {
  font-size: 22px;
  font-weight: 700;
  margin-left: 80px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.line {
  border-left: 1px white solid;
  width: 1px;
  height: 19px;
}
.header__nav_links {
  display: flex;
}
.header__link_images {
  margin-right: 25px;
}
.header__link_images svg {
  fill: white;
}
.line {
  margin-right: 27px;
}
.header__nav {
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__link_sign {
  margin-right: 80px;
  display: flex;
}
.header__link_sign p,
a {
  margin-right: 4px;
}

.container_main {
  margin: 0 auto;
  max-width: 444px;
  background-color: white;
}
.main__media_name {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main__media_name a {
  color: #3cb878;
  font-size: 14px;
  margin: 33px 59px 0 0;
  height: 14px;
}
.main__media_name h2 {
  font-size: 20px;
  margin: 31px 0 15px 61px;
}

.main__media_buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.main__media_button1 {
  background: #305db8;
  display: flex;
  border-radius: 3px;
  align-items: center;
  margin-right: 4px;
}
.main__media_button2 {
  background: #df4a32;
  display: flex;
  border-radius: 3px;
  align-items: center;
}
.main__media_line1 {
  border-left: 1px #0a162f solid;
  width: 1px;
  height: 24px;
  opacity: 0.1;
  margin-right: 18px;
}
.main__media_line2 {
  border-left: 1px #0a162f solid;
  width: 1px;
  height: 24px;
  opacity: 0.1;
  margin-right: 18px;
}

.main__media_button1 img {
  padding: 12px 19px 12px 17px;
}
.main__media_button2 img {
  padding: 12px 19px 12px 17px;
}
.main__media_button1-name {
  margin-right: 22px;
}
.main__media_button2-name {
  margin-right: 27px;
}
.main__media_separation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__media_separation-line {
  border-bottom: 1px #f2f2f2 solid;
  width: 152px;
  height: 1px;
}

.main__media_separation-text {
  font-size: 14px;
  color: #848484;
  margin: 0 5px;
}

.register__inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__input {
  width: 322px;
  height: 44.08px;
  margin-bottom: 16px;
  background: #ffffff;
  outline: none;

  border-radius: 4px;
  border: 1px solid #f2f2f2;
}

.register__input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
  color: #bebebe;
}
label {
  color: #434343;
  font-size: 14px;
}
.check__box_link {
  color: #3cb878;
}
.check__box_wrap {
  margin-left: 62px;
  margin-bottom: 20px;
}

.main__checkbox {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.0001),
      rgba(0, 0, 0, 0.0001)
    ),
    linear-gradient(0deg, #f2f2f2, #f2f2f2);

  border: 1px solid #f2f2f2;
}

.create__acc_button {
  background-color: #3cb878cc;
  border-radius: 4px;
  display: flex;
  width: 324px;
  margin-left: 60px;
}

.create__acc_button-text {
  padding: 16px 100px;
}
.register {
  padding-bottom: 38px;
}

.header__nav_logo h1:hover {
  color: #236d47;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.header__link_images svg:hover {
  fill: #236d47;
}

.header__link_sign_button1:hover {
  color: #236d47;
}

.header__link_sign_button2:hover {
  color: #236d47;
}
.main__media_name a:hover {
  color: #236d47;
  border-bottom: 1px solid #236d47;
}

.main__media_button1:hover {
  background: #022263;
}

.main__media_button2:hover {
  background: #ab1f09;
}

.create__acc_button:hover {
  background-color: #01813f;
}
.check__box_link:hover {
  color: #236d47;
  border-bottom: 1px solid #236d47;
}

.main__media_name-square {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3cb878;
  top: 30px;
}
